
{% extends "base.html" %}


{% block content %}

<ul data-role="listview" data-inset="true" data-filter="true">
{% for post in posts.object_list %}
    <li>
        <a href="/{{ post.slug }}/">{{ post.title }}</a>
        <p style="margin-left:20px;">Posted by {{ post.user.username }} on {{ post.last_updated|date }}</p>
    </li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}" data-role="button" data-inline="true"  data-icon="arrow-l">Prev</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}" data-role="button" data-inline="true" data-icon="arrow-r">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
