
{% extends "base.html" %}

{% block title %}Download Center{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if message %}
<p>{{ message }}</p>
{% endif %}
<div id="login">
    <form action="/change_password/" method="post">
        <input type="hidden" name="next" value="{{ next }}"> 
        {% csrf_token %}
        {{ form.old_password.errors }}
        <label for="id_old_password">Old Password:</label>
        {{ form.old_password }}
        {{ form.new_password1.errors }}
        <label for="id_new_password1">New Password:</label>
        {{ form.new_password1 }}
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirm Password:</label>
        {{ form.new_password2 }}
    <div id="login_button">
        <input type="submit" value="Submit" class="submit-button"/>
    </div> <!-- login button -->
    </form>
</div> <!-- login -->

{% endif %}

{% endblock %}
